Source: ros-indigo-cob-gazebo-objects
Section: misc
Priority: extra
Maintainer: Nadia Hammoudeh Garcia <nhg@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/cob_gazebo_objects
Standards-Version: 3.9.2

Package: ros-indigo-cob-gazebo-objects
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cob-description, ros-indigo-gazebo-ros
Description: This package provides some objects and furniture for gazebo simulation.
