Source: ros-indigo-cob-gazebo-worlds
Section: misc
Priority: extra
Maintainer: Nadia Hammoudeh Garcia <nhg@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslaunch, ros-indigo-rostest
Homepage: http://ros.org/wiki/cob_gazebo_worlds
Standards-Version: 3.9.2

Package: ros-indigo-cob-gazebo-worlds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-controller-manager, ros-indigo-gazebo-msgs, ros-indigo-gazebo-ros, ros-indigo-gazebo-ros-control, ros-indigo-joint-state-publisher, ros-indigo-kdl-parser, ros-indigo-robot-state-publisher, ros-indigo-rospy, ros-indigo-tf, ros-indigo-xacro
Description: This package provides some worlds for gazebo simulation.
