Source: ros-hydro-cob-simulation
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/cob_simulation
Standards-Version: 3.9.2

Package: ros-hydro-cob-simulation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cob-bringup-sim, ros-hydro-cob-gazebo, ros-hydro-cob-gazebo-objects, ros-hydro-cob-gazebo-worlds
Description: The cob_simulation stack includes packages to work with Care-O-bot within simulation environments, e.g. gazebo.
